#intro{
  text-align: center;
  padding: 2em 0;

  .get-started {
    background-color: $primary-color;
    padding: 1em 3em;
  }

  .try-demo {
    padding: 1em 3em;
    margin-left: 1em;
  }

  h2 {
    margin: 2em 0 0.7em;
  }

  p {
    font-size: 1.2em;
  }
}
