body {
  font-family: 'Sintony', sans-serif;
}

#landing {
  background-color: #9275bf;
  color: #fff;
  text-align: center;
  padding: 3em 0;

  nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 1.5em;

    &.active {
      font-weight: bold;
      border-bottom: 2px solid #fff;
      padding-bottom: 0.5em;
    }
  }


  h1 {
    font-size: 4em;
    margin-top: 1em;
  }

  p {
    font-size: 1.3em;
    font-weight: 300;
    margin: 1em 0;
  }

  a.action {

    background-color: #4bd9dd;
    color: #fff;
    border-radius: 2px;
    width: 12em;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1em;

  }

}
